<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651191479173-ku2agvtjqs7d9e3sc1qoucieijts4tki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651191479173-ku2agvtjqs7d9e3sc1qoucieijts4tki</string>
	<key>API_KEY</key>
	<string>AIzaSyCwqydnSdwNjyD2o8Grj8CwSE2TIx9YDDc</string>
	<key>GCM_SENDER_ID</key>
	<string>651191479173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingwitht.loginFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-app-72e15</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-app-72e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651191479173:ios:26b42a917b56c96c9172ec</string>
</dict>
</plist>